.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  max-width: 1140px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  background-clip: border-box;
  margin-bottom: 45px;
  border-radius: 2px;
  background-clip: padding-box;
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.timeline {
  border-left: 3px solid #00bcd4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
}

@media screen and (max-width: 1024px) {
  .timeline {
    margin-left: 100px;
  }
}

@media screen and (max-width: 750px) {
  .timeline {
    margin: 0;
  }
}

.timeline .item:last-child {
  margin-bottom: 0;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}

.section {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  background-clip: border-box;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.timeline .job-meta .title {
  font-size: 18px;
  color: #00bcd4;
}

.timeline .job-meta .time {
  color: #8a8a8a;
}

.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

b,
strong {
  font-weight: bolder;
}

.timeline .job-desc {
  color: #24292e;
}

.timeline .item::before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  border: 3px solid #00bcd4;
}

.timeline .item::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #00bcd4;
  z-index: 10;
}

h2 {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}
